<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="manifest" href="/manifest.json">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" crossorigin="anonymous"></script>

<!-- Standard browser icons -->
<link rel="icon" type="image/png" sizes="16x16" href="/images/logo/windows11/square44x44Logo.targetsize-16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/logo/windows11/square44x44Logo.targetsize=32.png">
<!-- Smartphone icons -->
<link rel="icon" type="image/png" sizes="48x48" href="/imges/logo/windows11/square44x44Logo.targetsize-48.png">
<link rel="icon" type="image/png" sizes="192x192" href="/images/logo/android/android-launchericon-192-192.png">
<!-- iPad icon -->
<link rel="apple-touch-icon" type="image/png" sizes="167x167" href="/images/logo/ios/167.png">
<!-- iPhone icon -->
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/images/logo/ios/180.png">

<script defer src="/scripts/main.js"></script>
<link rel="stylesheet" href="/css/main.css">